<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quiz Index Page</title>
</head>
<body>
	<h1>Quiz Index Page</h1>
	<table>
	<tr>
        <th>ID</th>
        <th>Question</th>
        <th>Answer</th>
    </tr>
    <tr th:each="quiz : ${quizzes[0].questionGroups[0].questions}">
        <td th:text="${quiz.id}">123</td>
        <td th:text="${quiz.question}">Question</td>
        <td th:text="${quiz.answers[0].answer}">Answer</td>
    </tr>
    </table>
</body>
</html>